@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" pw-name="Page Title">Welcome!</h1>
    <p>This is my first homework for the subject Integrated Systems :)</p>
</div>
